<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>141874606377-1tahksg9qfeeal5gsmcfqk8j38lp7ga8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141874606377-1tahksg9qfeeal5gsmcfqk8j38lp7ga8</string>
	<key>API_KEY</key>
	<string>AIzaSyAD21fSOucZVHpWQ8wAjulFlx_LBQ0ld9E</string>
	<key>GCM_SENDER_ID</key>
	<string>141874606377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>m.prog.barbaraboeters-pset6</string>
	<key>PROJECT_ID</key>
	<string>barbaraboeters-pset6</string>
	<key>STORAGE_BUCKET</key>
	<string>barbaraboeters-pset6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:141874606377:ios:11d383aaf14968ce</string>
	<key>DATABASE_URL</key>
	<string>https://barbaraboeters-pset6.firebaseio.com</string>
</dict>
</plist>